
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="section">
    
    <table class="table align-middle mb-0 bg-white" id="Table">
      <thead class="bg-light">
        <tr>
          <th>Company Name</th>
          <th>DBA</th>
          <th>Group Name</th>
          <th>Category</th>
          <th>Email</th>
          <th>Responsible</th>
          <th>Phone</th>
          <th>Partners</th>
          <th>Fax</th>
          <th>State Tax Number</th>
          <th>Food Lic Number</th>
          <th>Store Number</th>
          <th>EIN Number</th>
          <th>Manager Name</th>
          <th>Address Line</th>
          <th>City</th>
          <th>Country</th>
          <th>Mailing Address</th>
          <th>Owner</th>
        </tr>
      </thead>
      <tbody>

        
      </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/company.js'%}">

{% endblock %}

