
{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="section">
  <div class="row gutters-sm">

    <div class="col-sm-6 mt-3 ml-3">
      <div class="card">
        <div class="card-body" id="creatordb">

          <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">Database Created</h6>
            </div>
          </div>
          <hr>

        </div>
      </div>

      <!-- <div class="card mt-3">
        <div class="card-body" id="editordb">

          <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">Database shared as editor</h6>
            </div>
          </div>
          <hr>


        </div>
      </div> -->

      <div class="card mt-3">
        <div class="card-body" id="otherdb">

          <div class="row">
            <div class="col-sm-12">
              <h6 class="mb-0">Other Databases</h6>
            </div>
          </div>
          <hr>


        </div>
      </div>



    </div> 

    <div class="col-md-4 mt-3">
      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-sm-6">
              <h6 class="mb-0">Username</h6>
            </div>
            <div class="col-sm-6 text-secondary">
              {{username}}
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/jquery.js'%}"></script>
<script src="{% static 'js/index.js'%}">

{% endblock %}

